@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
/* global set  */

* {
  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  box-sizing: border-box;
  --main-color: #794b57;
}

body {
 
  font-family: "Ubuntu", sans-serif;
}
section {
  margin: 30px 0;
}
.card-body{
  text-align: center;
}
/* start setting box */
.settings-box{
  position: fixed;
  right:20px;
  bottom: 0;
  width:50px;
  z-index: 100;
  min-height: 300px;
  transition: .3s;
  
  }
   .open{
      bottom: 0;
  }
  .settings-box .toggle-seting{
      right: 0px;
      position: absolute;
      bottom: 10px;
      background-color: #4DC247;
      text-align: center;
      cursor: pointer;
      font-size: 25px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      
      
  }
  .settings-box i{
      padding: 10px 6px;
      width: 50px;
      color: #fff;
      font-weight: bold;
  }
  .settings-box .option-box .colors-list{
      transition: all .5s ease-in-out;
      list-style: none;
      position: absolute;
      text-align:center;
      padding :0;
      bottom: -130px;
      right: 0;
      
  }
  .settings-box .option-box .colors-list li{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      background-color: black;
      display: inline-block;
      margin: 2px;
      font-size: 25px;
      color: #fff;
      font-weight: bold;
  }
  
  .settings-box .option-box .colors-list li:first-child{
      background-color: #4DC247;
  }
  .settings-box .option-box .colors-list li:nth-child(2){
      background-color: #0084FF;
  }
 
  /* end setting box */
/* box shadow */
.card {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
/* end box shadow */

.btn-r {
  position: relative;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(121, 75, 87, 1) 100%
  );
  color: #ee445f;
  border: 1px solid var(--main-color);
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 5px 22px;
  text-shadow: 0 0 3px var(--main-color);
  width: 100%;
}
.btn-r:hover {
  color: #fff;
  font-weight: bolder;
}

/* end global set */

/* start navbar 
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color:var(--main-color);
    font-weight: 700;
}
nav a img{
    width: 70px;
    height: 70px;
}
 end navbar */
/* new navbar */
.navbar {
  padding: 0 2rem !important;
}
.navbar-inverse {
  background: #ccc !important;
  border-bottom: 4px solid var(--main-color) !important;
}

.navbar-brand img {
  width: 40px;
}

.nav {
  margin-bottom: 0px;
}
.nav a {
  font: 500 11px Lato;
  padding: 8px 16px !important;
  color: var(--main-color) !important;
  position: relative;
  z-index: 1000;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
.nav-item.dropdown a {
  color: #000 !important;
}
.dropdown-menu .dropdown-item {
  font-size: 12px;
  text-align: right;
}
.dropdown-menu .dropdown-item:hover {
  transition: all 0.5s ease;
  color: var(--main-color) !important;
  font-size: 12px;
}
.nav-item.dropdown {
  padding: 0;
}
.nav a:hover {
  color: #fff !important;
  text-decoration: none;
  font: 500 11px Lato;
  position: relative;
  z-index: 1000;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
.nav li {
  position: relative;
  padding: 8px 16px;
}

.navbar-inverse .navbar-toggler {
  border: none;
}

.navbar-collapse {
  box-shadow: none !important;
  border: none !important;
}

.navbar-inverse .navbar-toggler:hover {
  background: transparent !important;
}

.navbar-inverse .navbar-toggler:focus {
  background: transparent !important;
}

.navbar-inverse .navbar-toggler:active {
  background: transparent !important;
}

.hover {
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: var(--main-color) !important;
  z-index: 0;
  opacity: 0;
}
.hover2 {
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #ee445f !important;
  z-index: 0;
  opacity: 0;
}
.insta {
  display: inline-block;
}
.navbar-collapse i {
  border-radius: 10px;
  background-color: var(--main-color);
  padding: 8px 10px;
  color: #fff;
}

/* end new navbar */
/* start slider */
.carousel-indicators li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
}
.carousel .carousel-inner img {
  height: 85vh;
}
.carousel-caption h5 {
  color: var(--main-color);
}
.carousel-caption p {
  font-size: 15px;
}
.carousel-caption {
  bottom: 30px;
}
/* end slider */

/* strat card section-1 */
.section-1 h1,
.section-1 hr {
  color: var(--main-color);
  display: inline-block;
}
.section-1 hr {
  width: 40%;
  background-color: var(--main-color);
  height: 1px;
  margin-bottom: 8px !important ;
}
.section-1 header {
  width: 100%;
}
.flip-card {
  background-color: transparent;
  width: 90%;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 2rem;
  margin: auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 2rem;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--main-color);
  color: black;
  display: flex;
  border-radius: 2rem;
  padding: 10px;
}

/* Style the back side */
.flip-card-back {
  background-color: #bbb;
  color: white;
  transform: rotateY(180deg);
  border-radius: 2rem;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-front h4 {
  text-align: center;
  color: #fff;
  margin: auto;
}
/* end card section */
/* start section 2 */
.section-2 {
  background-color: #eee;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card {
  text-align: right;
  /*  background: linear-gradient(332deg, rgba(255,255,255,1) 20%, rgba(121,75,87,1) 100%); */
}
.card .card-img-top {
  width: 100%;
  height: 150px;
}
.card .card-title {
  color: var(--main-color);
  font-weight: bolder;
}
.card-text {
  font-size: 15px;
  opacity: 0.7;
}
/* end section 2 */
/* start section 3  */
.section-3 {
  background: linear-gradient(
    332deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(121, 75, 87, 1) 100%
  );
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* end section 3 */
/* start footer */
footer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: right;
  position: relative;
}
/* footer img{
  width: 100px;
  margin: auto;
  position: absolute;
  top: -60px;
  right: 48%;
} */
.img-logo {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-logo img {
  width: 100px;
  margin-top: -100px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.social i {
  padding: 10px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(121, 75, 87, 1) 100%
  );
  border-radius: 5px;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-right: 4px;
}
footer ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
footer ul li a {
  color: var(--main-color);
  text-decoration: none;
  transition: all 0.5s ease;
}
footer p {
  opacity: 0.7;
}
footer ul li a:hover {
  text-decoration: none;
  color: #ee445f;
}
/* end footer */

/* ===================================================== */
/* strat our work page  */


/* header */
.hero-img {
  width: 100%;
  height: 85vh;
  background-image: -webkit-linear-gradient(62deg, #ffffff 0%, #794b57 100%);
  background-image: -moz-linear-gradient(62deg, #ffffff 0%, #794b57 100%);
  background-image: -o-linear-gradient(62deg, #ffffff 0%, #794b57 100%);
  background-image: linear-gradient(62deg, #ffffff 0%, #794b57 100%);
}
.hero-img img{
  width:100%;
  height: 100%;
  
}
.header-text{
  color:#fff;
  margin: auto;
}
/* end header */

/* start slider */
.wsection{
  direction: ltr;
}

/*start Featured Products */
  /* slider  */
  .box{
    width:300px;
    height: 300px;
  background-color:var(--main-color);
  border-radius: 10px;
  box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
    margin: 10px 0px;
    padding: 5px;
  }
   .model{
  height: 100%;
  width: 100%;
  transition: all .8s ease-in-out;
  border-radius: 10px;
  }
  .model:hover{
    transform:scale(1.06);
    }
  ul{
  list-style:none;
  }
   .box:hover{
  background-color: var(--main-color);
  transform-style: preserve-3d;
  transform: scale(1.02);
    transition: all ease 0.3s;
    color: #fff;
    
  }
  .lSAction > .lSNext{right: 0;}
  .lSAction > .lSPrev{left: 0;}
  .lSAction > .lSPrev,
  .lSAction > .lSNext {
    background-color:var(--main-color);
  }
  .lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: var(--main-color);
  }
  
  
  .lSAction > a{
    background-image: url(../img/controls.png);
  }

  

/* ================== */
.wsection-1 h4{
  color:var(--main-color);
}
.wsection-1 h1,
.wsection-1 hr {
  color: var(--main-color);
  display: inline-block;
  font-size: 35px;
  
}
.wsection-1 hr {
  width: 29%;
  background-color: var(--main-color);
  height: 1px;
  margin-bottom: 8px !important ;
}
.wsection-1 header {
  width: 100%;
}


/* end slider */
/* end our work page */
/* ===================================================== */


/* insta page */
/* =============================================== */
.pakge{
  background-color: #eee;
}


/* end insta page */
/* ================================================ */

/* contact us page  */
.form-box{
  width: 80%;
  height: 100%;
  margin: auto;
  border:5px solid transparent;
  border-radius: 1rem;
  padding: 20px;
  box-shadow: 20px 20px 30px -10px #192824;
  background-color: #fff;

}
.header-form{
  color: var(--main-color);
  font-weight: bolder;
}
.contact-form{
  text-align: right;
}
.form-control{
border-color: #000;
font-family: 'Courier New', Courier, monospace;
}
.left-text{
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/2.jpg);
  border: 2px solid #f0f0f0;


}
.left-text p{
  margin: auto;
  /* margin-bottom: 50%; */
  /* margin-top: 107%; */
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: larger;
  background-color:#facce873 ;
  border-radius: 5%;
  padding: 5px;
  font-weight: bolder;

}
a{
color:#000;
text-decoration: none;
}
a:hover{
color: #000;
font-weight: bolder;
}

/* end contact us section */


/* phone  */
@media (max-width: 480px) {
  .nav {
    padding-bottom: 20px;
  }
  .insta {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .navbar-nav {
    padding: 20px 0 !important;
  }
  footer ul {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  footer img {
    right: 32%;
  }
  footer p {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .navbar-nav {
    text-align: center;
  }
  .nav-item.dropdown a {
    padding-right: 32px !important;
  }
  .section-1 hr {
    width: 30%;
  }
  
  
  .flip-card {
    width: 80%;
  }
  .dropdown-menu .dropdown-item {
    text-align: center;
  }
  .wsection-1{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid var(--main-color);
  }
  .wsection-1 h1{
    font-size: 25px;
   
    padding-bottom: 20px;
  }
  .wsection-1 hr {
    width: 0;
  }
  .box{
    width: 282px;
  }
  .hero-img {
    height: 50vh;
  }
  .insta-img{
    height: 80% !important;
  }
  .pakge .card{
    width: 80% !important;
    margin: auto;
  }
  .form-box{
    width: 100%;
    padding:20px 0;
  }
  .form-control{
    font-size: small;
  }
}
